Prathmesh-Gite
[flake8]
max-line-length = 500
ignore = E203, E266, E501, W503
exclude = .git,__pycache__,docs,venv,env,pysindy
[flake8]
max-line-length = 500
ignore = E203, E266, E501, W503
exclude = .git,__pycache__,docs,venv,env,pysindy
 main
max-complexity = 10