[tool.black]
line-length = 100
target-version = ['py39', 'py310', 'py311']
extend-exclude = '''
/(
  \.venv
  | venv
  | materials_env
  | \.pytest_cache
  | htmlcov
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = [".venv", "venv", "materials_env", ".pytest_cache"]
